html,
body {
    font-size: 18px;
}

.contact-info {
    margin-top: 20px;
}

.explanation-content {
    font-size: 20px;
    margin-bottom: 2em;
}

.explanation-content-more {

    font-size: 17px;
}

.features-single {
    height: 300px;
}

.cost-content ul {
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: normal;
}

.cost-content ul li {
    list-style: circle;
    margin-left: 2em;
}